@import url(//fonts.googleapis.com/css?family=Vibur);

*{
    background-color: #2a2a2a;
    color: hsl(0, 0%, 79%);
}

.first{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 48px;
    color: #FFA07A;
}

button{
    padding: 5px 10px;
    border-radius: 10px;color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    background-color: black;
    font-size: large;
}

h1{
    text-align: center;
    font-family: sans-serif;
}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.board{
    margin-top: 40px;
}

.result{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.human .husc, .human h2{
    color:rgb(21, 117, 228);
    font-size: 30px;
}

.computer .compsc, .computer h2{
    color:rgb(198, 27, 27);
    font-size: 30px;
}

.husc, .compsc{
    text-align: center;
}

.disp .huch{
    color:rgb(21, 117, 228);
    font-size :  40px;
}

.disp .compch{
    color:rgb(198, 27, 27);
    font-size:  40px;
}

.disp{
    font-size: 30px;
    display:flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.roundwin{
    font-size:30px;
    text-align: center;
}

.game{
    font-size: 48px;
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    color: #8bc34a;
    font-family: sans-serif;
}

.new{
    text-align: center;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;;
}