@import url(//fonts.googleapis.com/css?family=Vibur);

*{
    background-color: #2a2a2a;
    color: hsl(0, 0%, 79%);
}

.first{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 48px;
    color: #FFA07A;
}

.rock,.paper, .scissors{
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* CSS */
.rock {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #f5f5f5;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rock:hover,
.rock:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.rock:active {
  background: var(--color);
  color: #fff;
}

.paper {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #f5f5f5;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.paper:hover,
.paper:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.paper:active {
    background: var(--color);
    color: #fff;
}

.scissors {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #f5f5f5;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.scissors:hover,
.scissors:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.scissors:active {
    background: var(--color);
    color: #fff;
}

h1{
    text-align: center;
    font-family: sans-serif;
}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.board{
    margin-top: 30px;
}

.result{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.human .husc, .human h2{
    color:rgb(21, 117, 228);
    font-size: 30px;
}

.computer .compsc, .computer h2{
    color:rgb(198, 27, 27);
    font-size: 30px;
}

.husc, .compsc{
    text-align: center;
}

.disp .huch{
    color:rgb(21, 117, 228);
    font-size :  50px;
}

.disp .compch{
    color:rgb(198, 27, 27);
    font-size:  50px;
}

.disp{
    font-size: 30px;
    display:flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.roundwin{
    font-size:30px;
    text-align: center;
}

.game{
    font-size: 48px;
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    color: #8bc34a;
    font-family: sans-serif;
}

.new{
    text-align: center;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: whitesmoke;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}